# =================================================================== SRV =====================================================================
logs/
logs/*
gunicorn/
gunicorn/*
run/
run/*

# ================================================================== Macias ===================================================================
.env
TMP/web/Estado_Cuentas/Excel/
# ================================================================= Calixtro ==================================================================
.env
TestingQuerys/
/testAboy/
# =================================================================== Gil =====================================================================
TestingQuerys/
apps/api_dynamic_token/migrations/__pycache__/
apps/transaction/api/web/views/views_dispersiones_v2.py
apps/transaction/api/web/views/views_transaction_massive_v2.py
apps/transaction/api/web/serializers/serializer_dispersiones_v2.py
apps/transaction/api/web/serializers/serializer_transaction_massive_v2.py
test.py
.idea/
.idea/*
.idea/*/*
venv
dispersion.py
transaccion_programada.py
apps/api_stp/platform/any/views/views_cobranza_stp.py
apps/api_stp/platform/any/serializers/serializer_cobranza_stp.py
.env
PubKeyPerson839.pem
PubKeyPerson1884.pem
# ================================================================= Aboytes ===================================================================
__pycache__/

apps.solicitudes/__pycache__
apps.solicitudes/migrations/__pycache__

apps.users/__pycache__
apps.users/api/__pycache__
apps.users/api/web/__pycache__
apps.users/api/web/views/__pycache__
apps.users/api/web/serializers/__pycache__
apps.users/api/web/admin/__pycache__
apps.users/api/web/admin/views/__pycache__
apps.users/api/web/admin/serializers/__pycache__
apps.users/api/web/cliente/__pycache__
apps.users/api/web/cliente/serializers/__pycache__
apps.users/api/web/cliente/views/__pycache__
apps.users/api/movil/__pycache__
apps.users/api/movil/serializers/__pycache__
apps.users/api/movil/views/__pycache__
apps.users/migrations/__pycache__
apps.users/api/web/serializers/__pycache__/

apps.contacts/__pycache__
apps.contacts/api/__pycache__
apps.contacts/api/movil/__pycache__
apps.contacts/api/movil/serializers/__pycache__
apps.contacts/api/movil/views/__pycache__
apps.contacts/migrations/__pycache__


MANAGEMENT/notifications/__pycache__
MANAGEMENT/notifications/movil/__pycache__
MANAGEMENT/notifications/web/__pycache__

apps.permision/__pycache__

polipaynewConfig/__pycache__

apps.reportes/__pycache__
apps.reportes/migrations/__pycache__

apps.transaction/__pycache__
apps.transaction/api/__pycache__
apps.transaction/api/web/__pycache__
apps.transaction/api/web/serializers/__pycache__/
apps.transaction/api/web/views/__pycache__/
apps.transaction/api/movil/__pycache__
apps.transaction/api/movil/serializers/__pycache__
apps.transaction/api/movil/views/__pycache__
apps.transaction/migrations/__pycache__

apps.gadgets/__pycache__
apps.gadgets/migrations/__pycache__

apps.solicitudes/api/__pycache__
apps.solicitudes/api/web/__pycache__
apps.solicitudes/api/web/serializers/__pycache__
apps.solicitudes/api/web/views/__pycache__
apps.solicitudes/migrations/__pycache__/

MANAGEMENT/SMS/__pycache__/

# ================================================================== Avalos ===================================================================
init-polipaynew
venv-polipaynew
venv-polipaynew3.8
venv-polipaynew3.10
MANAGEMENT/ErrorCodeCatalog/ErrorCodeCatalogInntec.py
MANAGEMENT/ErrorCodeCatalog/__init__.py
MANAGEMENT/__init__.py
testChrAvaBus/
testChrAvaBus/__init__.py
.env
# ==================================================================== TMP ====================================================================
TMP/*.html
TMP/*.pdf
TMP/API_dispersa/*.html
TMP/API_dispersa/*.pdf
TMP/logs
TMP/logs/
TMP/logs/*
TMP/mobile/*.html
TMP/mobile/*.pdf
TMP/mobile/MovementReport/*.html
TMP/mobile/MovementReport/*.pdf
TMP/web/*.html
TMP/web/*.pdf
TMP/web/Estado_Cuentas/*.html
TMP/web/Estado_Cuentas/*.pdf
TMP/web/Estado_Cuentas/Excel/*.html
TMP/web/Estado_Cuentas/Excel/*.pdf
TMP/web/Estado_Cuentas/PDF/*.html
TMP/web/Estado_Cuentas/PDF/*.pdf
TMP/web/ExportExcelStatus/*.html
TMP/web/ExportExcelStatus/*.pdf
TMP/web/Ine_admins_cuenta_eje/*.html
TMP/web/Ine_admins_cuenta_eje/*.pdf

